<footer>
        <img src="../../img/LogoMakr-8VCzkk.png" class="logoFooter" alt="logo">
        <ul class="redesSociales">
            <li>
                <a href="https://www.facebook.com" target="_blank"><img src="../../img/redes/734399_facebook_media_online_social_icon.png" alt="face"></a>
            </li>
            <li>
                <a href="https://www.instagram.com" target="_blank"><img src="../../img/redes/734394_instagram_media_online_social_icon.png" alt="insta"></a>
            </li>
            <li>
                <a href="https://ar.linkedin.com" target="_blank"><img src="../../img/redes/734383_in_linked_media_online_social_icon.png" alt="lin"></a>
            </li>
        </ul>
        <nav class="menuFooter">
            <ul class="menuFooterUl">
                <li><a href="/pages/acercaDe">Acerca de</a></li>
                <li class="separador"><a href="/pages/contacto">Contacto</a></li>
                <li class="separador"><a href="/#preguntasFrecuentes">Preguntas frecuentes</a></li>
                <li class="separador"><a href="/pages/terminosYCondiciones">Términos y condiciones</a></li>
                <li class="separador"><a href="/pages/politicas">Política de privacidad</a></li> 
            </ul>
        </nav>
        <div class="copy">
            <p>Copyright © 2022.All Rights Reserved By <em>Creador de Curriculums</em> </p>
        </div>
    </footer>