
<main>
    <div class="bordeColorTop"></div>
    <h1>*Nombre y Apellido*</h1>
    <hr>
    <div>
        <img>
        <h1>Datos personales</h1>
        <hr>
        <h2>Nombre</h2><br>
        <h3>*Nombre y Apellido*</h3>
        <br><br>
        <h2>Correo electrónico</h2><br>
        <h3>*Email*</h3>
        <br><br>
        <h2>Teléfono</h2><br>
        <h3>*Telefono*</h3>
        <br><br>
        <h2>Dirección</h2><br>
        <h3>*Calle altura*</h3>
    </div>

    <div>

    <h2>Perfíl</h2>
    <hr>
    <p>
        *Descripcion perfil*
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum autem velit pariatur? Velit dolor excepturi eveniet accusamus deleniti tenetur quisquam alias repudiandae. Laudantium eaque placeat dolorem dignissimos, quo voluptas!
    </p>
    <h2>Experiencia</h2>
    <hr>
    <h3>*Puesto*</h3>
    <h3>*Empresa*</h3>
    <ul>
        <li>*Descricion tareas realizadas*</li>
    </ul>

    <h2>Experiencia</h2>
    <hr>
    <h3>*Puesto*</h3>
    <h3>*Empresa*</h3>
    <ul>
        <li>*Descricion tareas realizadas*</li>
    </ul>

    <h2>Formación</h2>
    <hr>
    <h3>*Carrera*</h3>
    <h3>*Universidad*</h3>

    <h2>Idiomas</h2>
    <hr>
    <p>*Idioma*  *Nivel*</p>
    </div>
    <div class="bordeColorBottom"></div>
</main>



