<link rel="stylesheet" href="../css/acercaDe.css">
<title>Sobre Nosotros</title>

<body>
    {{>navbar1}}
    <main>
        <div class="portada">
            <h1>Acerca de FreeCVMaker</h1>
            <img src="../img/wallpapers/Shared workspace-rafiki.png" class="workGroup" alt="workGroup">
        </div>         

        <div class="seccionRespuestas" data-aos="zoom-in-top">
            <h3>Acerca de FreeCVMaker</h3> 
            <h1>¿Qué es FreeCVMaker?</h1>
            <p>Somos una comunidad sin fines de lucro que te ayuda a crear un curriculum fácil y creativo para que puedas avanzar en tu búsqueda laboral.</p>
            <h1>¿Cómo puedes ayudarme a crear mi CV?</h1>
            <p>De una manera muy dinamica e intuitiva. Serás guiado en cada paso para que puedas lograr completar tu CV.</p>
            <h1>¿Es FreeCVMaker realmente gratís?</h1>
            <p>Sí. Cada aspecto de FreeCVMaker es 100% gratuito.</p>
            <h1>¿Cómo puedo apoyar a la comunidad de FreeCVMaker?</h1>
            <p class="pFinal">Somos una organización benéfica pública apoyada por donantes. Puedes configurar una donación a nuestra organización sin fines de lucro que sea cómodo para ti. </p>  
        </div>
        <div class="agradecimiento">
            <h1 class="gracias" data-aos="zoom-in-right">Gracias por parte del equipo de FreeCVMaker por utilizar nuestras herramientas.</h1>
            <h1 class="corazon" data-aos="zoom-in-right">❤️</h1>
        </div>
    </main>
    {{>footer}}
</body>