<link rel="stylesheet" href="../css/donaciones.css">
<title>Donaciones</title>

<body>
    {{>navbar1}}

    {{>alertas}}

    <main>
        <div class="donaciones"> 
            <form>  
                <h2>Donaciones</h2>
                <p>Apoyá a nuestra organización sin fínes de lucro</p>
                <h3>Cuando donás  nos ayudas a crear nuevos recursos para que los utilices y amplíes las herrramientas para crear tu CV.</h3>
                <button><img src="../img/Iconos/mercadopago-logo.png" alt=""></button>
                <p>Por el momento solo aceptamos donaciones a través de Mercado Pago, pronto agregaremos más opciones. Gracias por su comprensión.</p>
            </form>
        </div> 
    </main>
    
    {{>footer}}
</body>