<link rel="stylesheet" href="../css/miCurriculum.css">
<title>Mi cv</title>

<body>
    <main>
        <div class="container">
            <div class="menuLateral">
                <a href="/home"><img src="../img/LogoMakr-8VCzkk.png" class="logo" alt="logo"></a>
                <ul>
                    <li><img src="../img/Iconos/person-circle.svg" class="userIcon"></li>
                    <li><a href="/verMisDatos/miCurriculum">Ver mi CV</a></li>
                    <li><a href="/verificarDatos/verificarDatos">Crear Curriculum</a></li>
                    <li><a href="/auth/loguot" ><div class="icono cerrarSesion"><p>Cerrar sesión</p><img src="../img/Iconos/box-arrow-in-right.svg"></a></div></li>
                </ul>
            </div>
            <div class="datosCuenta"> 
                <form>
                    <h1>Mi Curriculum</h1>
                    <div class="miCV">
                        <h4>Volvé a descargar o imprimir el último CV que creaste</h4>
                        <div class="cvs">
                            <button class="editar conMargin"><img src="../img/Iconos/printer.svg"></button>
                            <img src="../img/ejemplos/page/creativo1.svg">
                            <button class="descargar download">Descargar ⭳</button>
                        </div>
                        <p><a href="/">Eliminar CV</a></p>
                    </div>  
                </form>
            </div> 
        </div>    
    </main>
</body>