<link rel="stylesheet" href="../css/politicasDePrivacidad.css">
<title>Políticas de Privacidad</title>

<body>
    {{>navbar1}}
    
    <main>            
        <div class="descripcion">
            <h1>Políticas de Privacidad</h1>
            <h3>Por favor, lea cuidadosamente nuestra política de privacidad y uso.</h3>
            <div class="seccion1">
                <p>Este documento explica qué datos personales recogemos y con qué finalidad. Le aconsejamos que lo lea detenidamente.</p>
                <p>Al utilizar el FreeCVMaker se procesa información confidencial y datos personales son procesados. Creador de Curriculum considera de gran importancia hacer un uso prudente de la información personal de sus clientes. Por eso, la información es tratada con sumo cuidado.</p> 
            </div>   
        </div> 
        <div class="seccion2">
            <h3 class="primerTitulo">Utilización de datos personales</h3>
            <p>Al usar FreeCVMaker proporcionará cierta información (datos personales). Solo guardamos y utilizamos los datos personales introducidos para el servicio que solicita, o los que son claramente proporcionados para ser procesados por nosotros. Esta política de privacidad está destinada principalmente a aquellos que utilizan la página web como particulares o como empleados.</p>
            <h3>Datos almacenados</h3>
            <p>Al crear un CV en Creador de Curriculums, se crea una cuenta automáticamente. La siguiente información se utiliza para el funcionamiento de dicha cuenta y para las partes mencionadas en esta declaración de privacidad:</p>
            <ul>
                <li>Nombre y dirección proporcionados</li>
                <li>Cualquier foto que haya subido</li>
                <li>Número de teléfono</li>
                <li>Dirección de correo electrónico</li>
                <li>Dirección de IP</li>
                <li>Detalles de pago (encriptados)</li>
                <li>Cualquier información añadida a su CV, por ejemplo, estudios, experiencia laboral, cursos, etc.</li>
            </ul>
    </main>

    {{>footer}}
</body>