<link rel="stylesheet" href="../css/terminosYCondiciones.css">
<title>Términos y Condiciones</title>

<body>
    {{>navbar1}}

    <main>              
        <div class="descripcion">
            <h1>Términos y Condiciones</h1>
            <h3>Leá detenidamente nuestros términos y condiciones.</h3>
            <div class="seccion1">
            <p>El uso de FreeCVMaker (de aquí en adelante: "el servicio") está sujeto a las condiciones de uso que detallamos a continuación. Al utilizar el servicio, usted acepta todos estos términos y condiciones. FreeCVMaker se le ofrece a usted por Creador de Curriculums</p>
            </div>   
        </div> 

        <div class="seccion2">
            <h3 class="primerTitulo">Artículo 1. Uso del servicio</h3>
            <p>Podrá utilizar este servicio gratuito para crear, editar y descargar CVs. Usted es responsable de hacer un uso correcto de las herramientas y funcionalidades que el servicio ofrece.</p>
            <h3>Artículo 2. Reglas de uso</h3>
            <p>La cuenta es personal y únicamente puede ser utilizada por el propietario de la dirección de correo electrónico vinculada a la cuenta. Está estrictamente prohibido dar acceso a terceros a su cuenta.</p>
            <h3>Artículo 3. Mantenimiento y disponibilidad</h3>
            <p>FreeCVMaker se compromete a hacer todo lo posible para que el servicio esté disponible, pero no puede garantizar su disponibilidad al 100%.</p>
            <h3>Artículo 4. Propiedad intelectual</h3>
            <p>El servicio, las páginas web y el software que los acompaña, así como toda la información, las fotografías, las plantillas, el diseño de los currículums y las cartas de presentación son propiedad intelectual de Creador de Curriculums. Su uso o copia sin permiso, excepto en los casos en los que la ley lo permita, no está permitida.</p>
            <h3>Artículo 5. Cargo por servicio</h3>
            <p>No hay una tarifa asociada al servicio. Usted puede realizar un aporte donativo en caso de preferirlo así.</p>
            <h3>Artículo 6. Condiciones de donaciones</h3>
            <p>Para usuarios que realicen donaciones: no habrá posibilidad de reembolso.</p>
            <h3>Artículo 7. Responsabilidad</h3>
            <p>Siempre y cuando no haya una disposición legal que las excluya, las siguientes disposiciones de responsabilidad se aplican al uso del servicio.</p>
            <h3>Artículo 8. Contacto</h3>
            <p>Si tiene alguna pregunta, sugerencia o comentario acerca de estos términos y condiciones, por favor, póngase en contacto con nosotros utilizando nuestro <a href="#">formulario de contacto.</a></p>
        </div>  
    </main>

    {{>footer}}
</body>