*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'Raleway', sans-serif; 
    background: linear-gradient(90deg, rgba(26,18,30,1) 0%, rgba(121,17,173,1) 34%, rgba(84,20,180,1) 56%, rgba(72,14,161,1) 76%, rgba(32,14,62,1) 95%, rgba(26,17,35,1) 100%);
}

html{
    scroll-behavior:smooth;
}


/*---------------- Navbar ---------------*/

header{
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content:space-around;
    position: fixed;
}

header.abajo{
    background-color: #18102C;
    position: fixed;
    height: 7vh;
    margin-bottom: 10%;
    z-index: 10;
}

header.abajo ul li{
    margin-top: 0%;
    line-height: 7vh;
    color: rgb(205, 200, 200);
    font-weight: bolder;
}

header.abajo a:hover{
    color: #A400FF;
}

header.abajo .logo{
    width:27vh;
    height: 3.5vh;
}

.logo{
    width:27vh;
    height: 3.5vh;
    justify-content: start;
    align-content: start;
    margin-top: 6%;
}

.header ul{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.header li{
    line-height: 8vh;
    margin-left: 5vh;
    margin-right: 3vh;
    font-size: 2vh;
    font-weight: bolder;
    list-style: none;
}

header a{    
    color:#DDDDDD;
}

header a:hover{
    color: #A400FF;
}

a{
    text-decoration: none;
    color: white;
}

/*-------------Contacto---------------------*/

main{
    padding-top: 9%;
}

.contacto{
    background-color: #18102c8c;
    width: 100vh;
    min-width: 26vh;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5vh;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px rgba(75, 73, 73, 0.219), 0.07em 0 .4em rgb(71, 71, 68);
}

form{
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    color:rgb(130, 132, 136);
}

input{
    width: 100%;
    height: 6vh;
    background-color: #ede8e8;
    border: none;
    border-radius: 5px;
    margin-bottom: 2vh;
    outline: none;
    font-size: 2.5vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

form label{
    margin-top: 2vh;
    font-size: 2.5vh;
    font-weight: bolder;
    float: left;
}

form p{
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 6vh;
    text-align: center;
}

form h2{
    padding-top: 5%;
    text-align: center;
    color: white
}

button{
    width: auto;
    height: 6vh; 
    background-color: #18102C;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 3vh;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
    box-shadow: #b8b6ba 1px 2px 6px, #bab8bd 1px 2px 4px, #b1aeb3 1px 2px 6px;
}

button:hover{
    box-shadow: #bab8bd 1px 4px 10px, #bab8bd 1px 4px 20px, #bab8bd 1px 4px 10px;
}

a{
    text-decoration: none;
}

textarea{
    width: 100%;
    height: 20vh;
    background-color: #ede8e8;
    border-radius: 5px;
    border: none;
    font-size: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
}


/*--------------------Footer----------------*/

footer{
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    margin-top: 20vh;
    padding-bottom: 4vh;
    padding-top: 5vh;
    background-color: #282828;
}

.logoFooter{
    width: 30vh;
    height: 3.5vh;
    margin-bottom: 2vh;
}

footer img{
    width: 6vh;
}

.redesSociales{
    text-align: center;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.redesSociales li{
    margin: 1vh;
    color: white;
}

.redesSociales a img:hover{
    transform: scale(1.3);
}

.menuFooter{
    width: 70%;
    height: 8vh;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.menuFooterUl{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menuFooterUl li{
    color: white;
    text-align: center;
    padding-left: 3vh;
    padding-right: 3vh;
}

.separador{
border-left: 2px solid rgba(150,127,240,1);
}

footer a{
    color: white;
    font-weight: bold;
}

footer a:hover{
    color:rgba(150,127,240,1);
}

.copy{
    padding-top: 3vh;
    margin-top: 1%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgba(150,127,240,1);;
}



/*-------------- MediaQuerys -----------*/

@media (max-width:1357px){
    footer nav{
        margin-bottom: 3%;
    }
}

/*-----------------------*/
@media (max-width:1259px){
    .header li{
        margin-left: 3vh;
        margin-right: 3vh;
    }
}

/*-----------------------*/
@media (max-width:1181px){
    .header li{
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .contacto{
        width: 80vh;
    }
}

/*-----------------------*/
@media (max-width:1105px){
    .contacto{
        margin-top: 5vh;
    }
}

/*-----------------------*/
@media (max-width:880px){
    .contacto{
        width: 80%;
    }
}

/*-----------------------*/
@media (max-width:797px){
    .header li{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    .contacto{
        height: auto;
    }
    button{
        width: auto;
        min-height: 7vh;
        padding-left: 1vh;
        padding-right: 1vh;
        margin-bottom: 3vh;
    }
}

/*-----------------------*/
@media (max-width:752px){
    .header li{
        margin-left: 1vh;
        margin-right: 1vh;
    }
}

/*-----------------------*/
@media (max-width:724px){
    .header{
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .header ul{
        justify-content: center;
        align-content: center;
    }
    header.abajo{
        display: none;
    }
    .logo{
        margin-top: 2%;
    }
    .contacto{
        margin-top: 15%;
    }
}

/*-----------------------*/
@media (max-width:648px){
    .backgroundImgPortada{
        width: auto;
    }
    .menuFooter{
        width: 100%;
        height: auto;
        padding-top: 0;
        margin-top: 0;
    }

    .menuFooterUl{
        display: block;
        text-align: center;
    }
    .menuFooterUl li{
        margin: 2vh;
        margin-left: 0%;
    }
    .separador{
    border: none;
    }
    form{
        width: auto;
    }
    input{
        width: 90%;
    }
    form label{
        margin-left: 5%;
    }
    textarea{
        width: 90%;
    }
    .header ul .menu{
        display: none;
    }
}

/*-----------------------*/
@media (max-width:425px){
    .backgroundImgPortada{
        height: 130vh;
    }
    form{
        margin: 1%;
    }
    form h2{
        font-size: 3.5vh;
    }

}

/*-----------------------*/
@media (max-width:360px){
    .header{
        display: block;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding-bottom: 6vh;
    }
    .header ul{
        display: block;
        justify-content: center;
        align-content: center;
    }
    header.abajo{
        display: none;
    }
}
    
/*-----------------------*/
@media (max-width:319px){
    footer{
        padding-top: 2vh;
    }
    .redesSociales{
        display: block;
    }

    .logoFooter{
        width:100%;
        height: 100%;
    }

    .backgroundImgPortada{
        height: 140vh;
    }
}

/*-----------------------*/
@media (max-width:218px){
    button{
        margin: 0%;
        padding: 0%;
        margin-bottom: 2vh;
    }
}