*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background: linear-gradient(90deg, rgba(26,18,30,1) 0%, rgba(121,17,173,1) 34%, rgba(84,20,180,1) 56%, rgba(72,14,161,1) 76%, rgba(32,14,62,1) 95%, rgba(26,17,35,1) 100%);
    height: 1200px;
}

header{
    display: flex;
    margin-top: 3vh;
    justify-content:space-around;
}

.otro{
    font-size: 3vh;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    width: auto;
    text-align: center;
    background-color: #18102C;    
    border: none;
    border-radius: 25px;
    color: white;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 0%;
    box-shadow: #b8b6ba 1px 2px 6px, #bab8bd 1px 2px 4px, #b1aeb3 1px 2px 6px;
}

.otro:hover{
    box-shadow: #bab8bd 1px 4px 10px, #bab8bd 1px 4px 20px, #bab8bd 1px 4px 10px;
}

main{
    width: 70%;
    min-width: 900px;
    max-width: 900px;
    height: 1100px;
    min-height: 1100px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.container{
    padding-bottom: 10vh;
    height: 80%;
}

.header{
    width: 100%;
    height: 300px;
    background-color: rgb(246, 223, 228);
}

.headerIzq{
    width: 35%;
    float: left;
    height: 90%;
    text-align: center;
    padding-top: 5vh;
    background-color: brown;
    background-image: url('../img/wallpapers/fondo.png');
    background-size: 100% 100%;
}

.headerDer{
    float: right;
    color: black;
    width: 65%;
    height: 100%;
    padding: 5vh;
}

.headerDer h1{
    color: rgb(36, 35, 35);
    font-size: 6vh;
    margin-bottom: 3vh;
    margin-left: 0%;
    margin-top: 3vh;
}

.headerDer p{
    color: rgb(36, 35, 35);
}

.headerDer hr{
    width: 9%;
    color: black;
    height: 3px;
    background-color: black;
    margin-bottom: 3vh;
}

.header img{
    width: 66%;
    height: 80%;
    background-color: rgb(158, 153, 153);
}

.bordeColorTop, .bordeColorBottom{
    clear: both;
    width: 100%;
    height: 8vh;
    background-color: rgb(187, 149, 149);
}

.izquierda{
    border-top: 1px solid rgba(191, 150, 150, 0.632);
    border-right: 1px solid rgba(191, 150, 150, 0.632);
    text-align: start;
    float: left;
    width: 35%;
    height: 100%;
    padding: 5px;
    background-color: rgb(246, 223, 228);
}

.izquierda img{
    background-color: brown;
    padding: 0.5vh;
}

.izquierda h2{
    color: black;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 4vh;
    text-align: start;
}

.tableContacto th{
    padding-top: 3vh;
}

.datos{
    color: rgb(57, 55, 55);
    font-weight: lighter;
}

.tituloIzq{
    color: black;
    font-weight: bolder;
    margin-top: 2vh;
}

.derecha{
    float: right;
    width: 65%;
    height: 100%;
    background-color: white;
    text-align: justify;
    padding-top: 2vh;
    padding-right: 6vh;
    padding-left: 6vh;
}

.derecha p{
    padding-bottom: 35px;
}

hr{
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 2vh;
    height: 3px;
    background-color: black;
}

.tarea{
    list-style: circle;
    padding-left: 2vh;
    padding-top: 5vh;
}

.black{
    color: rgb(57, 55, 55);
}

.titulo{
    text-align: start;
    color: black;
    margin-left: 2vh;
}

.derecha h2, h3{    
    color: black;
    text-align: start;
}



.derecha h2{
    margin-bottom: 3vh;
}

.margen{
    margin-top: 4vh;
}

li{
    list-style: none;
}

table{
    width: 100%;
    height: auto;
    margin-bottom: 0h;
}

.alineacionFin{
    text-align: end;
    float: right;
}

p{
    text-align: start;
    font-size: 20px;
}

.paddingTH{
    padding-bottom: 5vh;
}