*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background: linear-gradient(90deg, rgba(26,18,30,1) 0%, rgba(121,17,173,1) 34%, rgba(84,20,180,1) 56%, rgba(72,14,161,1) 76%, rgba(32,14,62,1) 95%, rgba(26,17,35,1) 100%);
    height: 1300px;
}

header{
    display: flex;
    margin-top: 3vh;
    justify-content:space-around;
}

.otro{
    font-size: 3vh;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    width: auto;
    text-align: center;
    background-color: #18102C;    
    border: none;
    border-radius: 25px;
    color: white;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 0%;
    box-shadow: #b8b6ba 1px 2px 6px, #bab8bd 1px 2px 4px, #b1aeb3 1px 2px 6px;
}

.otro:hover{
    box-shadow: #bab8bd 1px 4px 10px, #bab8bd 1px 4px 20px, #bab8bd 1px 4px 10px;
}
main{
    width: 70%;
    min-width: 900px;
    max-width: 900px;
    height: 1300px;
    min-height: 1300px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}


.container{
    padding-bottom: 10vh;
    height: 80%;
    background-color: white;
}

.linea{
    background-color: rgb(6, 144, 103);
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding-left: 130px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
    clear: both;
}

.linea h1{
    text-transform: uppercase;
}

.header{
    width: 100%;
    min-width: 100%;
    height: 410px;
    min-height: 410px;
    color: black;
    background-color: white;
}


.izquierda{
    padding-left: 10vh;
    padding-right: 10vh;
}

.perfil{
    padding-left: 10vh;
    padding-right: 10vh;
}


.headerDer{
    color: white;
    width: 100%;
    min-width: 50%;
    padding-top: 5px;
    padding-bottom: 110px;
    background-color: rgba(6, 144, 103, 0.196);
}

.headerDer table{
    width: 35%;
    height: 100%;
    clear: both;
    margin-right: 10px;
    color: black;
    float: right;
}

.tablas{
    width: 75%;
    display: flex;
    align-items: flex-end;
    text-align: end;
    align-content: flex-end;
    float: right;
}

table img{
    background-color: rgb(4, 66, 4);
    margin: 0%;
    padding: 3px;
}

.headerDer tr{
    border: 2px solid black;
}

.headerDer h1{
    color: white;
    font-size: 6vh;
    margin-left: 0%;
}

.headerDer p{
    color: white;
}

.headerDer hr{
    width: 9%;
    color: rgb(74, 72, 72);
    height: 1px;
    background-color: rgb(74, 72, 72);
    border: none;
}

.tablePerfil{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.imgPerfil{
    width: 240px;
    height: 240px;
    border: none;
    margin: 5vh;
    top: 0%;
    margin-top: 120px;
    margin-bottom: 0%;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(187, 178, 178);
}

.tableContacto th{
    padding-top: 10px;
    color: black;
}

.tableContacto p {
    color: black;
    font-size: 16px;
}

.datos{
    color: rgb(57, 55, 55);
    font-weight: lighter;
}

hr{
    width: 100%;
    margin-bottom: 0px;
    height: 6px;
    border: none;
    background-color: rgba(6, 144, 103, 0.196);
}

h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

.tarea{
    list-style: circle;
    padding-left: 2vh;
    padding-top: 5vh;
}

.black{
    color: rgb(57, 55, 55);;
}

.titulo{
    text-align: start;
    color: black;
    margin-left: 2vh;
}

.derecha h2, h3{    
    color: black;
    text-align: start;
}

.derecha h2{
    margin-bottom: 10px;
}

.margen{
    margin-top: 15px;
}

li{
    list-style: none;
}

.derecha table{
    padding-bottom: 20px;
}

table{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.alineacionFin{
    text-align: end;
    float: right;
}

p{
    text-align: start;
    color: black;
    font-size: 20px;
}

.conPadding{
    padding-left: 30px;
}
