*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background: linear-gradient(90deg, rgba(26,18,30,1) 0%, rgba(121,17,173,1) 34%, rgba(84,20,180,1) 56%, rgba(72,14,161,1) 76%, rgba(32,14,62,1) 95%, rgba(26,17,35,1) 100%);
    height: 1400px;
}

header{
    display: flex;
    margin-top: 3vh;
    justify-content:space-around;
}

.otro{
    font-size: 3vh;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    width: auto;
    text-align: center;
    background-color: #18102C;    
    border: none;
    border-radius: 25px;
    color: white;
    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 0%;
    box-shadow: #b8b6ba 1px 2px 6px, #bab8bd 1px 2px 4px, #b1aeb3 1px 2px 6px;
}

.otro:hover{
    box-shadow: #bab8bd 1px 4px 10px, #bab8bd 1px 4px 20px, #bab8bd 1px 4px 10px;
}

main{
    width: 65%;
    min-width: 900px;
    max-width: 900px;
    height: 1300px;
    min-height: 1300px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}



.container{
    padding-bottom: 10vh;
    height: 80%;
}

.header{
    width: 100%;
    min-width: 100%;
    height: 250px;
    min-height: 35vh;
    background-color: rgb(4, 173, 122);
}

p{
    font-size: 20px;
}

.headerIzq{
    width: 35%;
    min-width: 35%;
    float: left;
    height: 100%;
    min-height: 100%;
    text-align: center;
}

.headerDer{
    float: right;
    color: white;
    width: 65%;
    min-width: 65%;
    height: 100%;
    min-height: 100%;
    padding: 5vh;
}

.headerDer h1{
    color: white;
    font-size: 6vh;
    margin-bottom: 3vh;
    margin-left: 0%;
}

.headerDer p{
    color: white;
}

.headerDer hr{
    width: 9%;
    color: rgb(74, 72, 72);
    height: 1px;
    background-color: rgb(74, 72, 72);
    margin-bottom: 3vh;
    border: none;
}

.header img{
    width: 100%;
    height: 100%;
}

.izquierda{
    text-align: start;
    float: left;
    min-width: 35%;
    width: 35%;
    height: 100%;
    min-height: 100%;
    background-color: rgba(185, 8, 8, 0.872);
}

.izquierda img{ 
    width: 100%;
    background-color: rgb(158, 153, 153);
}

.izquierda h2{
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 4vh;
    text-align: start;
    padding-left: 5px;
    margin-right: 5px;
}

.izquierda th{
    padding-left:5px;
    color: white;
}

.izquierda table{
    padding-bottom: 25px;
}

.tableContacto th{
    padding-top: 3vh;
}

.datos{
    color: rgb(57, 55, 55);
    font-weight: lighter;
}

.tituloIzq{
    color: black;
    font-weight: bolder;
    margin-top: 2vh;
}

.derecha{
    float: right;
    width: 65%;
    min-width: 65%;
    height: 100%;
    min-height: 100%;
    background-color: white;
    text-align: justify;
    padding-top: 5vh;
}

.derecha table{
    margin-top: 10px;
}

.borde{
    width: 90%;
    margin-bottom: 30px;
    padding-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid black;
}

hr{
    width: 90%;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    height: 1.5px;
    border: none;
    background-color: white;    
}

.tarea{
    list-style: circle;
    padding-left: 2vh;
    padding-top: 5vh;
}

.black{
    color: rgb(57, 55, 55);;
}

.titulo{
    text-align: start;
    color: black;
    margin-left: 2vh;
}

.derecha h2{    
    color: rgba(185, 8, 8, 0.872);
    text-align: start;
}

.derecha h3{
    text-align: start;
}

.derecha h1{
    color: rgba(185, 8, 8, 0.872);
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 40px;
    padding-left: 45px;
}

.margen{
    margin-top: 4vh;
}

li{
    list-style: none;
}

table{
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.icon1,.icon2, .icon3{
    width: 40px;
}

.alineacionFin{
    text-align: end;
    float: right;
}

p{
    text-align: start;
}

.borde img{
    background-color: rgb(46, 44, 44);
    padding: 5px;
    width: 100%;
}

.borde h2{
    margin-left: 10px;
    padding-bottom: 20px;
}

.borde p, .borde h3{
    padding-left: 20px;
}