*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    height: 120vh;
    background-color: white;
    font-family: 'Raleway', sans-serif; 
    background: linear-gradient(90deg, rgba(26,18,30,1) 0%, rgba(121,17,173,1) 34%, rgba(84,20,180,1) 56%, rgba(72,14,161,1) 76%, rgba(32,14,62,1) 95%, rgba(26,17,35,1) 100%);
}

html{
    scroll-behavior:smooth;
}


/*---------------- Navbar ---------------*/

header{
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content:space-around;
    position: fixed;
}

header.abajo{
    background-color: #18102C;
    position: fixed;
    height: 7vh;
    margin-bottom: 10%;
    z-index: 10;
}

header.abajo ul li{
    margin-top: 0%;
    line-height: 7vh;
    color: rgb(205, 200, 200);
    font-weight: bolder;
}

header.abajo a:hover{
    color: #A400FF;
}

header.abajo .logo{
    width:27vh;
    height: 3.5vh;
}

.logo{
    width:27vh;
    height: 3.5vh;
    justify-content: start;
    align-content: start;
    margin-top: 6%;
}

.header ul{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.header li{
    line-height: 8vh;
    margin-left: 5vh;
    margin-right: 3vh;
    font-size: 2vh;
    font-weight: bolder;
    list-style: none;
}

header a{    
    color:#DDDDDD;
}

header a:hover{
    color: #A400FF;
}

a{
    text-decoration: none;
    color: white;
}

/*-------------Portada-----------------*/

main{
    padding-top: 10vh;
}

.descripcion{
    width: 80%;
    height: 80%;
    padding-top: 12vh;
    text-align: center;
    color: #4A69DC;  
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    color:white;
    font-size: 5vh;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    margin-bottom: -8vh;
    margin-top: 3vh;
}

h3{
    font-size: 3.5vh;
    color:rgb(160, 150, 150);
    margin-top: 8vh;
    margin-bottom: 5vh;
}

a{
    text-decoration: none;
}


/*-------------Seccion 1--------------*/

.seccion1{
    width: 80%;
    height: 50%;
    margin-top: 10vh;
    padding-bottom: 2vh;
    text-align: center;
    color:rgb(232, 217, 217);
    padding-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #18102c8c;
    border-radius: 5px;
}

.seccion1 p{
    font-size: 3vh;
    text-align: justify;
    margin-top: 1.3em;
    margin-bottom: 4vh;
    padding-left: 4vh;
    padding-right: 4vh;
}

.seccion1 h3{
    text-align: start;
    padding-left: 4vh;
    padding-right: 4vh;
}


/*-------------Seccion 2--------------*/

.seccion2{
    width: 64%;
    height: 100%;
    margin-top: 3vh;
    text-align: center;
    color:rgb(232, 217, 217);
    margin-left: auto;
    margin-right: auto;
    background-color: #18102c8c;
    border-radius: 5px;
    padding-bottom: 8vh;
    margin-bottom: 15vh;
}

.primerTitulo{
    padding-top: 4vh;
}

.seccion2 h3{
    text-align: start;
    padding-left: 4vh;
    padding-right: 4vh;
}

.seccion2 ul{
    text-align: start;
    padding-left: 7vh;
    padding-right: 4vh;
    font-size: 3vh;
}

.seccion2 li{
    margin-top: 3vh;
}

.seccion2 p{
    font-size: 3vh;
    text-align: justify;
    margin-top: 1.3em;
    margin-bottom: 4vh;
    padding-left: 4vh;
    padding-right: 4vh;
}


/*--------------------Footer----------------*/

footer{
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    padding-bottom: 4vh;
    padding-top: 5vh;
    margin-top: 20vh;
    background-color: #282828;
}

.logoFooter{
    width: 30vh;
    height: 3.5vh;
    margin-bottom: 2vh;
}

footer img{
    width: 6vh;
}

.redesSociales{
    text-align: center;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.redesSociales li{
    margin: 1vh;
    color: white;
}

.redesSociales a img:hover{
    transform: scale(1.3);
}

.menuFooter{
    width: 70%;
    height: 8vh;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.menuFooterUl{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menuFooterUl li{
    color: white;
    text-align: center;
    padding-left: 3vh;
    padding-right: 3vh;
}

.separador{
border-left: 2px solid rgba(150,127,240,1);
}

footer a{
    color: white;
    font-weight: bold;
}

footer a:hover{
    color:rgba(150,127,240,1);
}

.copy{
    padding-top: 3vh;
    margin-top: 1%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgba(150,127,240,1);;
}


/*-------------- MediaQuerys -----------*/

@media (max-width:1357px){
    footer nav{
        margin-bottom: 3%;
    }
}

/*-----------------------*/
@media (max-width:1259px){
    .header li{
        margin-left: 3vh;
        margin-right: 3vh;
    }
    .seccion1 p{
        padding-bottom: 3vh;
    }
}

/*-----------------------*/
@media (max-width:1181px){
    .header li{
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .seccion1{
        width: auto;
        height: auto;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    .seccion2{
        width: 80%;
        height: auto;
        margin-top: 0%;
        padding-top: 0%;
    }
}

/*-----------------------*/
@media (max-width:797px){
    .header li{
        margin-left: 1vh;
        margin-right: 1vh;
    }
}

/*-----------------------*/
@media (max-width:752px){
    .header li{
        margin-left: 1vh;
        margin-right: 1vh;
    }
}

/*-----------------------*/
@media (max-width:724px){
    .header{
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .header ul{
        justify-content: center;
        align-content: center;
    }
    header.abajo{
        display: none;
    }
}

/*-----------------------*/
@media (max-width:648px){
    .menuFooter{
        width: 100%;
        height: auto;
        padding-top: 0;
        margin-top: 0;
    }
    .menuFooterUl{
        display: block;
        text-align: center;
    }
    .menuFooterUl li{
        margin: 2vh;
        margin-left: 0%;
    }
    .separador{
        border: none;
    }
    .header ul .menu{
        display: none;
    }
}

/*-----------------------*/
@media (max-width:569px){
    .backgroundImgPortada{
        height: 40vh;
    }
    .seccion1{
        margin-top: 15vh;
        height: auto;
        width: auto;
    }
    .seccion2{
        margin-top: 5vh;
    }
}

/*--------------------------*/
@media (max-width:500px){
    .header ul .menu{
        display: none;
    }
}

/*-----------------------*/
@media (max-width:425px){
    .backgroundImgPortada{
        height: 100vh;
    }
}

/*-----------------------*/
@media (max-width:360px){
    .header{
        display: block;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding-bottom: 6vh;
    }
    .header ul{
        display: block;
        justify-content: center;
        align-content: center;
    }
    header.abajo{
        display: none;
    }
    .primerTitulo{
        padding-top: 3vh;
    }
    .seccion2 li{
        font-size: 2.5vh;
    }
    .seccion2 p{
        font-size: 2.5vh;
    }
    .seccion1 p{
        font-size: 2.5;
    }
    h3{
        font-size: 3vh;
    }
    h1{
        font-size: 4vh;
    }
}

/*-----------------------*/
@media (max-width:319px){
    footer{
        padding-top: 2vh;
    }
    .redesSociales{
        display: block;
    }
    .logoFooter{
        width:100%;
        height: 100%;
    }
}