*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    width: 100%;
    height: auto;
    background-color: white;
    font-family: 'Raleway', sans-serif; 
    background: linear-gradient(90deg, rgba(26,18,30,1) 0%, rgba(121,17,173,1) 34%, rgba(84,20,180,1) 56%, rgba(72,14,161,1) 76%, rgba(32,14,62,1) 95%, rgba(26,17,35,1) 100%);
}

html{
    scroll-behavior:smooth;
}


/*---------------- Navbar ---------------*/

header{
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content:space-around;
    position: fixed;
}

header.abajo{
    background-color: #18102C;
    position: fixed;
    height: 7vh;
    margin-bottom: 10%;
    z-index: 10;
}

header.abajo ul li{
    margin-top: 0%;
    line-height: 7vh;
    color: rgb(205, 200, 200);
    font-weight: bolder;
}

header.abajo a:hover{
    color: #A400FF;
}

header.abajo .logo{
    width:27vh;
    height: 3.5vh;
}

.logo{
    width:27vh;
    height: 3.5vh;
    justify-content: start;
    align-content: start;
    margin-top: 6%;
}

.header ul{
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.header li{
    line-height: 8vh;
    margin-left: 5vh;
    margin-right: 3vh;
    font-size: 2vh;
    font-weight: bolder;
    list-style: none;
}

header a{    
    color:#DDDDDD;
}

header a:hover{
    color: #A400FF;
}

a{
    text-decoration: none;
    color: white;
}

/*---------------Formulario---------------------*/

main{
    padding-top: 5vh;
    padding-bottom: 2vh;
}

.container{
    margin-left: auto;
    margin-right: auto;
    background-color: #dcdadf;
    width: 90vh;
    height: auto;
    padding-bottom: 6vh;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.363), 1em 0 2em black;
    margin-bottom: 20vh;
    text-align: center;
}

.encabezado{
    padding-top: 3%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vh;
}

.titulo{
    text-align: center;
    padding-top: 3%;
    font-size: 4.5vh;
    color:rgb(0, 76, 255);
}

a{
    text-decoration: none;
}

.editar{
    width: 4vh;
    height:4vh;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.editar img{
    width: 80%;
}

.print-edit{
    width: 20%;
    height: 9vh;
    display: flex;
    margin-left: 110%;
    justify-content: end;
    text-align: end;
    align-content: flex-end;
}

.print-edit div{
    width: 50%;
    margin: 2vh;
}

.editar:hover{
    background-color: #9b969f8a;
}

.miCV{
    width: 80%;
    height: 90%;
}

.curriculum{
    width: 90%;
    background-color: #fcfbfe;
}

/*--------------------Footer----------------*/

footer{
    text-align: center;
    color: white;
    width: 100%;
    height: auto;
    padding-bottom: 4vh;
    padding-top: 5vh;
    margin-top: 20vh;
    background-color: #282828;
}

.logoFooter{
    width: 30vh;
    height: 3.5vh;
    margin-bottom: 2vh;
}

footer img{
    width: 6vh;
}

.redesSociales{
    text-align: center;
    display: flex;
    list-style: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.redesSociales li{
    margin: 1vh;
    color: white;
}

.redesSociales a img:hover{
    transform: scale(1.3);
}

.menuFooter{
    width: 70%;
    height: 8vh;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
}

.menuFooterUl{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menuFooterUl li{
    color: white;
    text-align: center;
    padding-left: 3vh;
    padding-right: 3vh;
}

.separador{
border-left: 2px solid rgba(150,127,240,1);
}

footer a{
    color: white;
    font-weight: bold;
}

footer a:hover{
    color:rgba(150,127,240,1);
}

.copy{
    padding-top: 3vh;
    margin-top: 1%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid rgba(150,127,240,1);;
}


/*-------------- MediaQuerys -----------*/

@media (max-width:1357px){
    footer nav{
        margin-bottom: 3%;
    }
}

/*-----------------------*/
@media (max-width:1259px){
    .header li{
        margin-left: 3vh;
        margin-right: 3vh;
    }
    form{
        padding-bottom: 2vh;
    }
}

/*-----------------------*/
@media (max-width:1181px){
    .header li{
        margin-left: 2vh;
        margin-right: 2vh;
    }
}


/*-----------------------*/
@media (max-width:900px){
    .container{
        width: auto;
    }
}

/*-----------------------*/
@media (max-width:797px){
    .header li{
        margin-left: 1vh;
        margin-right: 1vh;
    }
}

/*-----------------------*/
@media (max-width:752px){
    .header li{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    form{
        width: 100%;
        height: auto;
        margin: 0%;
        box-shadow: none;
        text-align: center;
    }
}

/*-----------------------*/
@media (max-width:724px){
    .header{
        display: block;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .header ul{
        justify-content: center;
        align-content: center;
    }
    header.abajo{
        display: none;
    }
}

/*-----------------------*/
@media (max-width:648px){
    .menuFooter{
        width: 100%;
        height: auto;
        padding-top: 0;
        margin-top: 0;
    }
    .menuFooterUl{
        display: block;
        text-align: center;
    }
    .menuFooterUl li{
        margin: 2vh;
        margin-left: 0%;
    }
    .separador{
        border: none;
    }
    .header ul .menu{
        display: none;
    }
}

/*-----------------------*/
@media (max-width:600px){
    .gridPlantillas{
        display: block;
    }
    .gridImg{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .gridImg img:hover{
        transform: none;
        box-shadow: none;
    }
}

/*--------------------------*/
@media (max-width:500px){
    .header ul .menu{
        display: none;
    }
}

/*-----------------------*/
@media (max-width:425px){
    form{
        margin: 1%;
    }
    .titulo{
        font-size: 3.5vh;
    }
}

/*-----------------------*/
@media (max-width:360px){
    .header{
        display: block;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding-bottom: 6vh;
    }
    .header ul{
        display: block;
        justify-content: center;
        align-content: center;
    }
    header.abajo{
        display: none;
    }
    .encabezado{
        width: 60%;
    }
    .editar{
        width: 3vh;
        height:3vh;
    }
}
    
/*-----------------------*/
@media (max-width:319px){
    footer{
        padding-top: 2vh;
    }
    .redesSociales{
        display: block;
    }
    .logoFooter{
        width:100%;
        height: 100%;
    }
}

/*-----------------------*/
@media (max-width:218px){
    .titulo{
        font-size: 2.5vh;
        margin: 0%;
        padding: 0%;
    }
}
